.small-box {
    width: 20%;
}

.div-add {
    padding-bottom: 5px;
    border: 1px solid #ddd;
    border-collapse: separate;
    *border-collapse: collapse;
}

.div-add li {
    padding-left: 5px;
    margin-top: 5px;
}

.div-add span {
    margin-right: 20px;
}

.one-half {
    width: 40%;
    margin-left: 5%;
    display: inline;
}

.one-half input {
    width: 600px;
}

.one-quarter:first-child {
    width: 20%;
    margin-left: 5%;
    display: inline;
}

.one-quarter {
    width: 20%;
    margin-left: 2%;
    display: inline;
}

.one-quarter input {
    width: 100px;
}

.form-div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-div-center {
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.table-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.queryLabel {
    margin-left: 40px;
}

.datagrid-tool {
    margin-bottom: 10px;
}

.datagrid-div {
    height: 600px;
}

.canvas {
    width: 100%;
    height: 100%;
    margin: 0;
}

#canvas {
    width: 1280px;
    height: 720px;
    background: url('') no-repeat 0px 0px;
}