.small-box {
    width: 25%;
}
.div-add {
    padding-bottom: 5px;
    border: 1px solid #ddd;
    border-collapse: separate;
    *border-collapse: collapse;
}
.div-add li {
    padding-left: 5px;
    margin-top: 5px;
}
.div-add span {
    margin-right: 20px;
}
.one-half {
    width: 40%;
    margin-left: 5%;
    display: inline;
}
.one-half input{
    width: 600px;
}
.one-third {
    width: 30%;
    margin-left: 5%;
    display: inline;
}
.one-third input {
    width: 200px;
}
.form-div {
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-div-center {
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-div-inline{
    display: inline-flex;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.table-half {
    width: 48%;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.queryLabel {
    margin-left: 40px;
}
.datagrid-tool{
    margin-bottom: 10px;
}
.datagrid-div{
    height: 600px;
}